/**
 * Styles stolen from snippets service home page:
 *   https://github.com/mozmeao/snippets-service/blob/master/snippets/base/templates/base/home.jinja
 * Thanks once again to Giorgos!
 */
body {
    background: linear-gradient(to right, #377ab2, #ffe85a, #ffc938);
    font-family: "Arial";
    text-align: center;
    margin: 100px;
    color: Black;
}
#heart {
    color: Red;
}
